#footer {
    position: relative;
    overflow: hidden;
    background-color: #1b1b1b;
    background-size: cover;
    background-position: center center;
    padding: 30px 0 0;
    font-family: 'coolvetica',sans-serif;

   	h4{
	   	font-family: 'Lobster', sans-serif;
	   	font-size: 38px;
	   	color: #adadad;
	   	line-height: 33px;
    }
    h3{
	   	color: #6f6f6f;
    	font-size: 20px;
   	}
   	.footer-follow{
   		padding: 0 0 20px;
   		margin: 0;
	    li {
		    display: inline-block;
	    	padding: 4px 9px;
	    	
		    a{
	    	
		    	font-size: 20px;
		    	color: #fff;
		    	&:hover{
		    	color: #9dd454;

		    	}
		    }
		}
   	}
   	.footer-copyright{
   		background: #0e0e0e;
   		padding: 5px 10px;
   		p{
   		display: inline;
   		color: #454545;

	   		svg{
	   			color: #d65555;
	   		}
	   		a{
	   			text-decoration: none;
	   			color: #fff;

	   		}
   		}

   		@media only screen and (max-width: 600px){
			.col-md-6{
				    text-align: center!important;
				    font-size: 13px;
			}
  		}
   	}
}