@font-face {
    font-family: 'coolveticar';
    src: url('fonts/coolvetica/coolvetica_rg-webfont.woff2') format('woff2'),
         url('fonts/coolvetica/coolvetica_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@import url('https://fonts.googleapis.com/css?family=Roboto:400');


$font-title: coolvetica,ubuntu;
$font-text: roboto,sans-serif;
