#main-header{
	background-image: url(../images/11.jpg); 
	height:100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center 50px;
	background-attachment: fixed;
	font-family: $font-title;
	position: relative;

	&:after {
	  content: '';
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  display: block;
	  background: linear-gradient(transparent, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
	}
	.navbar{
	    transition: all 0.2s ease-in-out;
	    height: auto;
		padding: 2em 2em 1em;
		position: relative;

	}
	.active {
		position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 32px !important;
}
	.navbar-brand{
		font-size: 30px;
		letter-spacing: .5px;
		max-width: 10%;
		line-height: 25px;
		white-space: unset;
		// font-family: 'Abril Fatface', arial;


	}
	.nav-item{
		font-size: 18px;
		letter-spacing: 1px;

		a{
		  position: relative;
		}
		a:after{
		  position: absolute;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  margin: auto;
		  width: 0%;
		  content: '.';
		  color: transparent;
		  background: rgba(0,0,0,.5);
		  height: 1px;
		  transition: all 0.3s;
		}
		a:hover:after {
		  width: 100%;
		}

	}
	.title{
		position: absolute;
	    top: 45%;
	    color: white;
	    z-index: 1;

	    h1{	
	    	position: relative;
			font-size: 100px;
			color: #fff;
		    text-shadow:5px 5px 1px rgba(0, 0, 0, 0.4);
		    text-align: center;
	    	font-family: 'Lobster', cursive;
	    	letter-spacing: -1.5px;
	    	line-height: 80px;
		    span{
		    	color: #2dbe60;
		    	display: block;
		    }
	    }
	    h3{
	    	margin-top: 20px;
	    	font-family: 'roboto', sans-serif;
	    	letter-spacing: -0.3px;
	    	font-weight: 200;
	    	font-size: 25px;
	    	color: #d5d5d5;;
	    	display: block;
	    }
	    .btn{
	      margin-top: 30px;
		  font-family: 'roboto', sans-serif;
		  font-weight: bold;
		  color: white;
		  background: #2dbe60;
		  border: 0;
		  border-radius: 4px;
		  transition: .3s background ease-in-out;
		  text-transform: uppercase;
		  text-decoration: none;
		  letter-spacing: 1px;
		  line-height: 45px;
		  box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
		  padding: 0 40px;
		  position: relative;
		}
		.btn:hover,
		.btn:active{
			background-color: #0d9f40;
			transition: .1s background ease-in-out;
		}

		.btn span{
		  left: 0;
		  position: relative;
		  transition: all 0.2s ease-out 0s;
		}

		.btn svg{
		  // width: 20px;
		  position: absolute;
		  right: 30px;
		  top: 15px;
		  margin-top: -9px;
		  line-height: 18px;
		  opacity: 0;
		  transition: all 0.2s ease-out 0s;
		}
		.btn:hover span,
		.btn:active span
		{
		  left: -25px;
		}

		.btn:hover svg,
		.btn:active svg
		{
		  opacity: 1;
		  right: 15px;
		}

	@media only screen and (max-width: 540px) {
		h1{
			font-size: 45px;
		    line-height: 40px;
		}
		h3{
			margin-top: -10px;
			font-size: 18px;
		}
	}
	}

}
