#service{
	.service-main{
		background-color: #404040;
		color: #fff;
		font-family: 'coolvetica';

		padding: 30px 10%;
		width: 100%;
		justify-content: center;
		align-items: center;
		display: flex;

		h6{
			color: #bcbcbc;		
			letter-spacing: 0.5px;
		}

		h3{
			word-spacing: -2px;
			letter-spacing: 1px;
			margin: -5px 0 25px;
			font-size: 45px;
			line-height: 35px;
		}
		p{
			word-spacing: -2px;
			letter-spacing: 1px;
			font-size: 18px;
			font-family: $font-text;
			line-height: 23px;
			margin-bottom: 10px;
		}
	@media only screen and (max-width: 768px){
		margin-bottom: 10px;
		h6{
			font-size: 15px;
		}
		h3{
			font-size: 33px;
			margin-top: -8px;
		}
		p{
			font-size: 15px;
		}
	}
		
	}
	.service-image{
		overflow: hidden;
		img{
		height: 31vh;
		object-fit: none;
		width: 100%;
		margin-left: 8px;

		}
		img:nth-child(2){
			padding: 8px 0;
		}

		@media only screen and (max-width: 768px){
			img{

			margin-left: 0px !important;
			}
			
		}
	}
}