#visit{
	  font-family: 'coolvetica';
	padding: 30px 0 30px;
	background-color: #f0f0f0;
	margin-bottom: 20px;
.row{
	position: relative;
	margin-top: 30px;
	h2{
		letter-spacing: 0.5px;
		word-spacing: -1.5px;
		margin-bottom: 20px;
	}
	p{
		font-size: 17px;
		font-family: sans-serif;
		font-weight: light;
		word-spacing: -0.3px;
		margin-bottom: 10px;
	}
	a{
		border-radius: 0;
		padding: 10px 15px 13px;
		background-color: #dedede;
		color: #424141;;
		letter-spacing: 0.3px;

		&:hover,
		&:active{
			text-decoration: none;
			background-color: #e8fece;
			span{
			color: #96d570;
			}
		}
	.btn-icon{
		position: relative;
		margin-bottom: -6px;
		margin-left: 5px;
	}

	}
}

	.map-responsive{
	    overflow:hidden;
	    padding-bottom:56.25%;
	    position:relative;
	    height:0;
	    margin-top: 20px;
	}
	.map-responsive iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}

	@media only screen and (max-width: 540px){
		h2{
			font-size: 25px;
			line-height: 27px;
		}
		p{
			font-size: 15px !important;
			line-height: 20px;
			margin-bottom: 20px !important;
		}
	}
}