#visit{
	font-family: 'coolvetica';
	padding: 40px 0 80px;
	background-color: #f0f0f0;
	position: relative;
	overflow: hidden;
.row{
	position: relative;
	margin-top: 40px;
	h2{
		letter-spacing: 0.5px;
		word-spacing: -1.5px;
		margin-bottom: 20px;
		line-height: 30px;
	}
	p{
		font-size: 17px;
		font-family: 'roboto',sans-serif;
		font-weight: light;
		word-spacing: -0.3px;
		margin: 30px 0 60px;
		line-height: 25px;
	}
	a{
		border-radius: 0;
		padding: 10px 15px 13px;
		border-radius: 0.3rem;
		letter-spacing: 0.3px;
		transition: .3s background ease-in;
		color: #fff;
		background-color: #67ba34;
;

		&:hover,
		&:active{
		background-color: #2dbe60;
		color: #424141;;
		transition: .4s color ease-in;
			span{
				color: #fff;
			}
		}
	.btn-icon{
		position: relative;
		margin-bottom: -6px;
		margin-left: 5px;
	}

	}
}

	.map-responsive{
	    overflow:hidden;
	    padding-bottom:56.20%;
	    position:relative;
	    height:0;
	}
	.map-responsive iframe{
	    left:0;
	    top:0;
	    height:100%;
	    width:100%;
	    position:absolute;
	}

	@media only screen and (max-width: 540px){
		h2{
			font-size: 25px;
			line-height: 27px;
		}
		p{
			font-size: 15px !important;
			line-height: 20px;
			margin-bottom: 20px !important;
		}
	}
}