@font-face {
  font-family: 'coolvetica';
  src: url("../fonts/coolvetica/coolvetica_rg-webfont.woff2") format("woff2"), url("../fonts/coolvetica/coolvetica_rg-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'abril_fatface';
  src: url("../fonts/abrilfatface/abrilfatface-regular-webfont.woff2") format("woff2"), url("../fonts/abrilfatface/abrilfatface-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'roboto';
  src: url("../fonts/roboto/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lobster';
  src: url("../fonts/lobster/lobster-regular-webfont.woff2") format("woff2"), url("../fonts/lobster/lobster-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

#main-header {
  background-image: url(../images/11.jpg);
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50px;
  background-attachment: fixed;
  font-family: coolvetica, ubuntu;
  position: relative; }
  #main-header:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)); }
  #main-header .navbar {
    transition: all 0.2s ease-in-out;
    height: auto;
    padding: 2em 2em 1em;
    position: relative; }
  #main-header .active {
    position: fixed !important;
    background: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 10px 32px !important; }
  #main-header .navbar-brand {
    font-size: 30px;
    letter-spacing: .5px;
    max-width: 10%;
    line-height: 25px;
    white-space: unset; }
  #main-header .nav-item {
    font-size: 18px;
    letter-spacing: 1px; }
    #main-header .nav-item a {
      position: relative; }
    #main-header .nav-item a:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0%;
      content: '.';
      color: transparent;
      background: rgba(0, 0, 0, 0.5);
      height: 1px;
      transition: all 0.3s; }
    #main-header .nav-item a:hover:after {
      width: 100%; }
  #main-header .title {
    position: absolute;
    top: 45%;
    color: white;
    z-index: 1; }
    #main-header .title h1 {
      position: relative;
      font-size: 100px;
      color: #fff;
      text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.4);
      text-align: center;
      font-family: 'Lobster', cursive;
      letter-spacing: -1.5px;
      line-height: 80px; }
      #main-header .title h1 span {
        color: #2dbe60;
        display: block; }
    #main-header .title h3 {
      margin-top: 20px;
      font-family: 'roboto', sans-serif;
      letter-spacing: -0.3px;
      font-weight: 200;
      font-size: 25px;
      color: #d5d5d5;
      display: block; }
    #main-header .title .btn {
      margin-top: 30px;
      font-family: 'roboto', sans-serif;
      font-weight: bold;
      color: white;
      background: #2dbe60;
      border: 0;
      border-radius: 4px;
      transition: .3s background ease-in-out;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1px;
      line-height: 45px;
      box-shadow: 0 -3px rgba(0, 0, 0, 0.1) inset;
      padding: 0 40px;
      position: relative; }
    #main-header .title .btn:hover,
    #main-header .title .btn:active {
      background-color: #0d9f40;
      transition: .1s background ease-in-out; }
    #main-header .title .btn span {
      left: 0;
      position: relative;
      transition: all 0.2s ease-out 0s; }
    #main-header .title .btn svg {
      position: absolute;
      right: 30px;
      top: 15px;
      margin-top: -9px;
      line-height: 18px;
      opacity: 0;
      transition: all 0.2s ease-out 0s; }
    #main-header .title .btn:hover span,
    #main-header .title .btn:active span {
      left: -25px; }
    #main-header .title .btn:hover svg,
    #main-header .title .btn:active svg {
      opacity: 1;
      right: 15px; }
    @media only screen and (max-width: 540px) {
      #main-header .title h1 {
        font-size: 45px;
        line-height: 40px; }
      #main-header .title h3 {
        margin-top: -10px;
        font-size: 18px; } }

#visit {
  font-family: 'coolvetica';
  padding: 40px 0 80px;
  background-color: #f0f0f0;
  position: relative;
  overflow: hidden; }
  #visit .row {
    position: relative;
    margin-top: 40px; }
    #visit .row h2 {
      letter-spacing: 0.5px;
      word-spacing: -1.5px;
      margin-bottom: 20px;
      line-height: 30px; }
    #visit .row p {
      font-size: 17px;
      font-family: 'roboto',sans-serif;
      font-weight: light;
      word-spacing: -0.3px;
      margin: 30px 0 60px;
      line-height: 25px; }
    #visit .row a {
      border-radius: 0;
      padding: 10px 15px 13px;
      border-radius: 0.3rem;
      letter-spacing: 0.3px;
      transition: .3s background ease-in;
      color: #fff;
      background-color: #67ba34; }
      #visit .row a:hover, #visit .row a:active {
        background-color: #2dbe60;
        color: #424141;
        transition: .4s color ease-in; }
        #visit .row a:hover span, #visit .row a:active span {
          color: #fff; }
      #visit .row a .btn-icon {
        position: relative;
        margin-bottom: -6px;
        margin-left: 5px; }
  #visit .map-responsive {
    overflow: hidden;
    padding-bottom: 56.20%;
    position: relative;
    height: 0; }
  #visit .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute; }
  @media only screen and (max-width: 540px) {
    #visit h2 {
      font-size: 25px;
      line-height: 27px; }
    #visit p {
      font-size: 15px !important;
      line-height: 20px;
      margin-bottom: 20px !important; } }

.heading-title h3 {
  letter-spacing: 1.5px;
  font-family: 'abril_fatface',sans-serif;
  font-size: 35px;
  border-bottom: 2px solid #bdbdbd;
  display: inline;
  padding: 0 8px; }

#attraction {
  max-width: 100%;
  padding: 40px 0 60px; }
  #attraction .card-custom {
    overflow: hidden;
    min-height: auto;
    border: 0;
    box-shadow: 0 0 25px rgba(10, 10, 10, 0.3);
    z-index: 1; }
  #attraction .card-custom-img img {
    height: 20px;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-color: inherit;
    z-index: 1; }
  #attraction .card-body {
    top: -15px;
    position: relative;
    z-index: 99;
    padding: 0.5rem 2rem 2rem;
    display: none; }
    #attraction .card-body:before {
      position: absolute;
      content: '';
      top: -20px;
      left: 0;
      width: 0;
      height: 0;
      border-style: solid;
      border-top-width: 40px;
      border-right-width: 0;
      border-bottom-width: 0;
      border-left-width: 545px;
      border-left-width: calc(575px - 5vw);
      border-top-color: transparent;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: inherit;
      color: #fff;
      z-index: -1; }
    #attraction .card-body .card-title {
      font-family: coolvetica;
      letter-spacing: 1px;
      color: #78ab59;
      position: relative; }
    #attraction .card-body .card-text {
      line-height: 20px; }
      @media only screen and (max-width: 540px) {
        #attraction .card-body .card-text {
          font-size: 15px;
          line-height: 17px; } }
  #attraction .flickity-viewport {
    height: 600px !important; }
  #attraction .flickity-slider {
    display: flex !important;
    align-items: center !important; }
  #attraction .flickity-page-dots {
    bottom: 0px; }
  #attraction .flickity-page-dots .dot.is-selected {
    background: black; }
  #attraction .flickity-page-dots .dot {
    width: 12px;
    height: 12px;
    opacity: 1;
    background: grey;
    border: 2px solid transparent; }
  #attraction .carousel-cell.is-selected .card-body {
    display: initial; }
  @media only screen and (max-width: 960px) {
    #attraction .col-lg-4 {
      max-width: 500px;
      min-width: 300px; }
      #attraction .col-lg-4 img {
        width: 100%; } }

#galery {
  padding-top: 300px;
  margin-top: -300px; }
  #galery h2 {
    display: none; }
  #galery .carousel {
    padding-top: 10px;
    background: #EEE; }
  #galery .carousel-cell {
    margin-right: 20px;
    overflow: hidden; }
  #galery .carousel-cell img {
    display: block;
    height: 200px; }
  @media screen and (min-width: 768px) {
    #galery .carousel-cell img {
      height: 400px; } }

.flickity-page-dots {
  bottom: 10px; }

.flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white; }

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  background: white; }

.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6; }

.flickity-prev-next-button:hover,
.flickity-prev-next-button:active {
  background: transparent;
  opacity: 1; }

.flickity-prev-next-button .arrow {
  fill: white; }

.flickity-prev-next-button.no-sv2g {
  color: white; }

#service .service-main {
  background-color: #404040;
  color: #fff;
  font-family: 'coolvetica';
  padding: 30px 10%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex; }
  #service .service-main h6 {
    color: #bcbcbc;
    letter-spacing: 0.5px; }
  #service .service-main h3 {
    word-spacing: -2px;
    letter-spacing: 1px;
    margin: -5px 0 25px;
    font-size: 45px;
    line-height: 35px; }
  #service .service-main p {
    word-spacing: -2px;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: roboto, sans-serif;
    line-height: 23px;
    margin-bottom: 10px; }
  @media only screen and (max-width: 768px) {
    #service .service-main {
      margin-bottom: 10px; }
      #service .service-main h6 {
        font-size: 15px; }
      #service .service-main h3 {
        font-size: 33px;
        margin-top: -8px; }
      #service .service-main p {
        font-size: 15px; } }

#service .service-image {
  overflow: hidden; }
  #service .service-image img {
    height: 31vh;
    object-fit: none;
    width: 100%;
    margin-left: 8px; }
  #service .service-image img:nth-child(2) {
    padding: 8px 0; }
  @media only screen and (max-width: 768px) {
    #service .service-image img {
      margin-left: 0px !important; } }

#tips {
  overflow: hidden; }
  #tips .heading-title h3 {
    padding-bottom: 3px;
    border-bottom: 2px solid #fff; }
  #tips .tips-content {
    background-color: #252525;
    color: #fff; }
  #tips .info-content {
    background-color: #9dd454;
    text-align: right; }
    #tips .info-content .heading-title h3 {
      border-bottom: 2px solid #252525; }
    #tips .info-content h4 {
      font-family: 'coolvetica',sans-serif; }
    #tips .info-content p {
      font-family: roboto,sans-serif; }
    #tips .info-content a {
      margin-top: 10px;
      border-radius: 0;
      padding: 10px 15px;
      border-radius: 1.3rem;
      letter-spacing: 0.3px;
      transition: .3s background ease-in;
      color: #fff;
      background-color: #252525; }
  #tips .media {
    margin-bottom: 10px; }
    #tips .media .food {
      margin-left: 22px; }
    #tips .media img {
      height: 70px; }
    #tips .media .media-body h5 {
      font-family: coolvetica;
      font-size: 22px;
      line-height: 29.9px;
      font-style: normal;
      letter-spacing: 2px;
      margin-bottom: 5px; }
    #tips .media .media-body p {
      padding-right: 30px;
      font-family: roboto;
      line-height: 20px;
      font-size: 15px; }
    @media only screen and (max-width: 540px) {
      #tips .media p {
        font-size: 15px; } }

#footer {
  position: relative;
  overflow: hidden;
  background-color: #1b1b1b;
  background-size: cover;
  background-position: center center;
  padding: 30px 0 0;
  font-family: 'coolvetica',sans-serif; }
  #footer h4 {
    font-family: 'Lobster', sans-serif;
    font-size: 38px;
    color: #adadad;
    line-height: 33px; }
  #footer h3 {
    color: #6f6f6f;
    font-size: 20px; }
  #footer .footer-follow {
    padding: 0 0 20px;
    margin: 0; }
    #footer .footer-follow li {
      display: inline-block;
      padding: 4px 9px; }
      #footer .footer-follow li a {
        font-size: 20px;
        color: #fff; }
        #footer .footer-follow li a:hover {
          color: #9dd454; }
  #footer .footer-copyright {
    background: #0e0e0e;
    padding: 5px 10px; }
    #footer .footer-copyright p {
      display: inline;
      color: #454545; }
      #footer .footer-copyright p svg {
        color: #d65555; }
      #footer .footer-copyright p a {
        text-decoration: none;
        color: #fff; }
    @media only screen and (max-width: 600px) {
      #footer .footer-copyright .col-md-6 {
        text-align: center !important;
        font-size: 13px; } }

#article {
  background-color: #f0f0f0;
  padding: 40px 0 80px; }
  #article .card {
    box-shadow: rgba(10, 10, 10, 0.3) 0px 0px 25px; }
  #article .card-body h3 {
    font-family: 'coolvetica', sans-serif; }
  #article .card-body a {
    text-decoration: none; }
  #article .card-image {
    overflow: hidden; }
  #article img {
    height: 20px;
    min-height: 250px;
    background-repeat: no-repeat;
    background-position: center; }
  #article #loadMore {
    text-decoration: none;
    padding: 10px 15px 10px;
    border-radius: 0.3rem;
    letter-spacing: 0.3px;
    transition: .3s background ease-in;
    color: #fff;
    background-color: #67ba34;
    margin: 0 auto;
    font-family: 'coolvetica', sans-serif; }
  #article #loadMore:hover,
  #article #loadMore:active {
    background-color: #2dbe60;
    color: #424141;
    transition: .4s color ease-in; }
  #article #row-article .article {
    display: none; }
  @media only screen and (max-width: 768px) {
    #article .card-body h3 {
      font-size: 25px; }
    #article .card-body div {
      font-size: 14px; }
    #article .card-body p {
      font-size: 15px; }
    #article .card-image img {
      width: 100%;
      height: 100%; } }
